body, p {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: rgba(19, 15, 38);
}

a {text-decoration: none;}

.container {
  display: flex;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: #121639;
  color: #fff;
  padding: 10px;
}

.nav-mobile {
  display: none;
}

.brand {
  margin: 10px 0 20px 20px;
  font-size: 18px;
}

.brand-big {
  margin: 50px 0 50px 10%;
  font-size: 32px;
}

.profile {
  display : flex;
  align-items : center;
  flex-direction: column;
  justify-content : center;
  padding: 0 20px 20px;
}

.profile img{
  align-items: center;
  width : 132px;
  border-radius : 100%;
  margin : 20px 0 20px;
}

.profile span {
  font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.navbar a {
  color: #fff;
  fill : #fff;
  align-items: center;
  width: 100%;
  padding: 5px 0 5px 25px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

li a:hover:not(.active) {
  background-color: #C8EE44;
  color: black;
  fill: black;
  border-radius : 5px;
}

.nav-link.active a {
  background: #C8EE44;
  border-radius : 5px;
  color : black;
  fill : black;
}

.navbar svg {
  width: 20px;
  margin-right : 10px;
}

.content {
  flex: 1;
  padding: 15px;
}

main {
  margin-left: 280px; /* Lebar navbar */
  width: 100%;
}

.dashboard {
  display : flex;
  height: 100vh;
  align-items: center;
  flex-direction : column;
  padding: 30px;
}

.dashboard header {
  display : flex;
  align-items: center;
  justify-content: center;
}

.dashboard header a {
  display : flex; 
  color: #fff;
  width : 200px;
  padding: 30px;
  margin : 20px 50px 10px 50px;
  background : #1C1A2E;
  border-radius : 25px;
}

.dashboard header svg, #busines svg, .widget svg{
  width : 30px;
  background: #C8EE44;
  border-radius : 25%;
  padding : 10px;
}

.dashboard header a div, #busines div, .widget div {
  display : flex;
  flex-direction : column;
  justify-content : center;
  padding-left: 20px;
}

.dashboard header a div span, .widget span {
  margin-top : 5px;
}

.value {
  color : #aaa;
}

.corp {
  color: #474661;
  font-size: 12px;
  margin-top: 8px;
}

.user {
  display: flex;
  align-items: center;
  margin: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.chart-container {
  display : flex;
  flex-direction : column;
}

canvas {
  width: 900px;
  height: 160px;
}

h3, h2, h4 {
  margin: 0;
  padding : 0;
  color : #fff;
  justify-content: flex-start !important;
}

.mt-20 {
  margin-top: 20px;
}

.chart-container .chart, .table, .add-items, .container-card {
  align-items: center;
  background : #14112B;
  padding : 25px;
  border-radius: 25px;
  margin-top : 30px; 
}

.table div, .expenses header, #pemasukan header, .edit-profile {
  display: flex;
  justify-content: space-between;
}

.table div a:hover, .edit-profile a:hover {
  background-color: #1d173b;
}

.table div a, .btn-add, .edit-profile a {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  color : green;
  margin-bottom: 10px;
}

.center {
  align-items: center;
}

.table div a svg, .edit-profile a svg {
  fill: green;
}

#busines { 
  display: flex;
  margin: 0;
}

#transaction, #items {
  background : #14112B;
  width: 100%;
}

#transaction td, .table-value td {
  border-left: none;
  border-right: none;
  padding: 8px;
  color: #fff;
}

#transaction th.column-center, #transaction td.column-center, #items th.column-center {
  text-align: center;
  color: #474661;
}

#transaction #amount {
  color: #fff;
}

#transaction tr:hover {background-color: #1d173b;}

#transaction th, .description, #items th, .table-value th {
  text-align: left;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #474661;
}

.expenses, #pemasukan, #setting {
  display : flex;
  height: 100vh;
  flex-direction : column;
  margin: 0 65px 0 65px;
  padding: 50px 30px;
}

.search-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 270px;
  background: rgba(70, 70, 75, 0.49);
}

.search-container svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  fill: #fff;
}

.search-container input, .input-container input {
  border: none;
  color : #fff;
  background-color: transparent;
  outline: none;
  padding: 5px;
}

.search-container button {
  border: none;
  background: rgba(70, 70, 75, 0.49);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.main-profile {
  display: flex;
  justify-content: center;
}

.main-profile img {
  margin: 15px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

#action a {
  background-color: #C8EE44;
  padding : 10px 16px 10px 16px;
  border-radius: 8px;
  color: black;
}

.expenses .table {
  margin-bottom: 36px;
}

.widget{
  display : flex; 
  color: #fff;
  width : 200px;
  padding: 30px;
  background : #1C1A2E;
  border-radius : 25px;
}

.input-container {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  width: 60px;
  background: rgba(70, 70, 75, 0.49);
}

.input-container input {
  width: 50px;
}

#item-input {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  width: 480px;
  background: rgba(70, 70, 75, 0.49);
}

#item-input input {
  border: none;
  color : #fff;
  background-color: transparent;
  outline: none;
  padding: 5px;
  width: 260px;
}

.items-value {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.table-value {
  width: 40%;
  text-align: right;
  margin-right: 20px;
}

.table-value .btn-add {
  justify-content: flex-end;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-container input {
  border: none;
  color: #fff;
  background-color: rgba(70, 70, 75, 0.49);
  outline: none;
  padding: 15px;
  border-radius: 10px;
}

.svg-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding: 11px;
  border-radius: 10px;
  background: rgba(70, 70, 75, 0.49);
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.mr-40 {
  margin-right: 40px;
}

.profile-container svg {
  width: 23px;
  fill: #494565;
  margin-right: 10px;
}

.update {
  cursor: pointer;
  margin-top: 40px;
  border: none;
  color: #fff;
  background-color: #02855C;
  padding: 20px 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.update:hover {background-color: #00ad76;}

.input-w-svg {
  border: none !important;
  color : #fff !important;
  background-color: transparent !important;
  outline: none !important;
  width: 90%;
  padding: 5px !important;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .navbar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    padding: 10px;
    background-color: rgba(70, 70, 75, 0.30);
  }

  canvas {
    width: auto;
    height: auto;
  }

  main {
    margin:auto;
  }
}